// === Visual styles for tabs. ===
@import "../utilities/variables";
@import "../components/button";

.tabs {
  margin: 1em 0 .5em;
  background-color: map-get($neutral-color, lightest);
  padding: .75rem;

  &__list {
    list-style: none;
  }

  &__list-item {
    display: inline-block;
    margin-right: 0.3em;
  }

  &__list-item a {
    @extend %button;
  }
}
