// === Basic elements styling. ===
@import "../utilities/mixins";

* {
  box-sizing: border-box;
  font-family: $primary-font;
  color: $headline-color;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background: map-get($neutral-color, lighter);
}

img {
  max-width: 100%;
  height: auto;
}

pre {
  @include word-wrap(break-word);
  white-space: pre-wrap;
}
